.save {
    background-color: green;
    color: white;
}

#input {
    display: block;
}

* {
    margin: 5px;
}

ul {
    list-style-type: none;
}

ul, li {
    padding: 0;
}

a {
    color: #5f9341;
    font-family: 'Arial';
}