* {
    margin: 5px;
}

body {
    min-width: 400px;
    min-height: 400px;
}

ul {
    list-style-type: none;
}

ul, li {
    padding: 0;
}

a {
    color: #5f9341;
    font-family: Arial;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.save {
    background-color: green;
    color: white;
}

#input {
    display: block;
}
